<h1 style="text-align: center;">Audio File Summarisation</h1><br><br><br>
<body style="background-color:#E0FFFF;text-align: center">
    <form method="post">
        <label for="cars">Choose a topic:</label>
        <select style="height: 30px;width: 250px;margin-left: 10px;" name="cars" id="cars">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br /><br />
        <label for="method">Choose a method:</label>
        <select style="height: 30px;width: 250px;margin-left: 10px;" name="method" id="method">
          <option value="BERT">BERT</option>
          <option value="BART">BART</option>
          <option value="GPT2">GPT-2</option>
        </select>
        <input type="submit" value="Submit" />
      </form>
      
</body>
