<br><br><br><br>
<h1 style="text-align: center;">Multi Document Summarisation</h1><br><br><br>
<body style="background-color:#E0FFFF;text-align: center">
  <form  method="post">
    <label for="cars" style="font-size: 25px;">Choose a topic:</label>
    <select style="height: 30px;width: 250px;margin-left: 10px;" name="cars" id="cars">
      <option value="1">Zomato issue</option>
      <option value="2">Ariz khan death penalty</option>
      <option value="3">Droughts in Europe</option>
      <option value="4">Death of BJP MP</option>
      <option value="5">Nita Ambani BHU</option>
      
    </select>
    <br /><br />
    <label style="font-size: 25px;" for="method">Choose a method:</label>
    <select style="height: 30px;width: 250px;margin-left: 10px;" name="method" id="method">
      <option value="BERT">BERT</option>
      <option value="BART">BART</option>
      <option value="GPT2">GPT-2</option>
    </select><br><br><br><br>
    <input style="height: 30px;width: 170px;" type="submit" value="Submit" />
  </form>
  
</body>
